@use '../../../styles/global' as global;

@mixin clickedIconButton(
  $color: var(--color-light1),
  $fillColor: var(--color-light1),
  $circleColor: var(--color-black)
) {
  & .bookmarkClicked,
  & .annotationClicked {
    & svg {
      fill: $fillColor;
      color: $color;
    }
  }

  & .viewClicked {
    & svg {
      fill: $fillColor;

      & circle {
        fill: $circleColor;
      }
    }
  }
}

.mobilePanel {
  @include clickedIconButton(
    var(--color-light1),
    var(--color-light1),
    var(--color-black)
  );

  height: 48px;
  padding: 2px 0;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 100;
  background-color: var(--color-black);
  font-size: 0.6rem;
  color: var(--color-light1);
  font-weight: 300;
  display: flex;
  justify-content: center;
  gap: 40px;

  .actionBtn {
    width: 62px;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background-color: inherit;
    }
  }

  @media screen and (min-width: 470px) {
    gap: 56px;
  }
}

.optionsSection {
  @include clickedIconButton(
    var(--color-black),
    var(--color-black),
    var(--color-light1)
  );

  display: flex;
  position:sticky;
  top: 88px;
  height: 100%;
  flex-direction: column;
  max-width: 240px;
  width: 100%;

  & .option {
    padding: 10px 0;
    width: 100%;
    justify-content: flex-start;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background-color: inherit;
    }
  }

  @media screen and (min-width: global.$desktop) {
    max-width: 305px;
    position: sticky;
  }
}

.annotationWrapper {
  height: calc(100% - 48px);
  overflow: scroll;
  padding: 1px;

  @media screen and (min-width: global.$tablet) {
    overflow: visible;
  }
}

.accordionWrapper {
  width: 100%;
  height: auto;
}

.annotationList {
  overflow: auto;
  height: 100%;

  @media screen and (min-width: global.$tablet) {
    padding: 0 16px;
    height: auto;
  }
}

