@use '../../../styles/global' as global;

.mobilePanel {
  @include global.mobilePanel;

  .actionBtn {
    width: 62px;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background-color: inherit;
    }
  }
}

.optionsSection {
  @include global.clickedIconButton(var(--color-black), var(--color-black), var(--color-light1));

  display: flex;
  position: sticky;
  top: 88px;
  height: 100%;
  flex-direction: column;
  max-width: 240px;
  width: 100%;

  & .option {
    padding: 10px 0;
    width: 100%;
    justify-content: flex-start;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background-color: inherit;
    }
  }

  @media screen and (min-width: global.$desktop) {
    max-width: 305px;
    position: sticky;
  }
}

.annotationWrapper {
  height: calc(100% - 48px);
  overflow: scroll;
  padding: 1px 1px 16px 1px;

  @media screen and (min-width: global.$tablet) {
    overflow: visible;
  }
}

.accordionWrapper {
  width: 100%;
  height: auto;
}

.annotationList {
  overflow: auto;
  height: 100%;
  margin-bottom: 32px;

  @media screen and (min-width: global.$tablet) {
    padding: 0 16px;
    // height: 500px;
  }
}
