@use '../../styles/global' as global;

@mixin state($labelColor, $valueColor, $borderColor, $backgroundColor) {
  & input,
  textarea {
    outline: 1px solid $borderColor;
    background-color: $backgroundColor;
    color: $valueColor;
  }

  & label {
    color: $labelColor;
  }
}

input,
textarea {
  font-size: 0.844rem !important;
}

textarea {
  height: auto;
  max-height: none !important;
  background-color: transparent;
  border: 0;
  resize: vertical;
}

@media screen and (min-width: global.$desktop) {
  input,
  textarea {
    font-size: 1.125rem !important;
  }
}

.input {
  display: flex;
  flex-direction: column;
  min-width: 197px;
  width: 100%;
  margin: 0;
}

.inputField {
  outline: 1px solid black;
  max-height: 40px;
  padding: 4px 8px;
  @media screen and (min-width: global.$desktop) {
    padding: 4px 16px;
  }

  &:hover {
    outline-width: 2px;
  }

  &:active {
    outline-width: 2px;
    background-color: var(--color-light1);
  }

  &:focus {
    outline-width: 2px;
    background-color: var(--color-light2);
  }
}

.error {
  @include state(
    var(--color-dark3),
    var(--color-vermilion),
    var(--color-vermilion),
    transparent
  );
  & span {
    color: var(--color-vermilion);
  }
}

.disabled {
  @include state(
    var(--color-dark1),
    var(--color-light3),
    var(--color-dark2),
    var(--color-dark1)
  );
}

input[disabled],
textarea[disabled] {
  pointer-events: none;
}

.inputField::placeholder {
  color: var(--color-dark2);
}

.searchInput {
  flex-direction: row;

  @media screen and (min-width: global.$desktop) {
    div > svg {
      height: 32px;
      width: 32px;
    }
  }

  & .searchButton {
    padding: 4px;
    min-width: 96px;
  }

  &.disabled > .searchButton {
    outline: 1px solid var(--color-dark2);
  }

  &.disabled > .inputField::placeholder {
    color: var(--color-dark2);
  }
}
