.small {
  margin-top: auto;
  margin-bottom: auto;
  svg {
    margin: auto;
    height: 16px!important;
    width: 16px!important;
  }
}

.medium {
  margin-top: auto;
  margin-bottom: auto;
  & svg {
    margin: auto;
    height: 24px;
    width: 24px;
  }
}

.large {
  margin-top: auto;
  margin-bottom: auto;
  svg {
    margin: auto;
    height: 32px;
    width: 32px;
  }
}

.dark {
  svg {
    color: var(--color-dark4);
  }
}

.light {
  svg {
    color: var(--color-light1);
  }
}
