.small {
  svg {
    margin: auto;
    height: 16px;
    width: 16px;
  }
}

.medium {
  & svg {
    margin: auto;
    height: 24px;
    width: 24px;
  }
}

.large {
  svg {
    margin: auto;
    height: 32px;
    width: 32px;
  }
}

.dark {
  svg {
    color: var(--color-dark4);
  }
}

.light {
  svg {
    color: var(--color-light1);
  }
}
