@use '../../styles/global' as global;

.accordion {
  & .accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

    & p {
      margin: 0;
    }
  }

  & .boldHeader {
    font-weight: 600;
  }

  & .content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & label {
      font-weight: 800;
    }
  }

  @media screen and (min-width: global.$tablet) {
    & .accordionHeader {
      padding: 8px 0;
    }
    & .content {
      padding: 0;
    }
  }
}
