.accordion {
  & .accordionHeader {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
  }

  & .content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & label {
      font-weight: 800;
    }
  }
}
