@use '../../styles/global' as global;

@mixin state(
  $state,
  $background,
  $borderRadius: 0,
  $border: none,
  $borderWidth: 1px,
  $borderColor: transparent,
  $textColor: auto
) {
  $selector: &;

  @if $state == 'disabled' {
    $selector: '&.#{$state}';
  } @else {
    $selector: '&:#{$state}';
  }

  #{$selector} {
    background-color: $background;
    outline: $border $borderWidth $borderColor;
    border-radius: $borderRadius;
    color: $textColor;

    svg {
      color: $textColor;
    }
  }
}

@mixin iconSVG($variant: 'dark') {
  div > svg {
    height: 24px;
    width: 24px;

    @if ($variant== 'light') {
      color: var(--color-light1);
    } @else {
      color: var(--color-dark4);
    }

    @media screen and (min-width: global.$desktop) {
      height: 32px;
      width: 32px;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.solid,
.lined {
  min-width: 96px;
  width: auto;
  padding: 8px;
}

.solid {
  background-color: var(--color-black);
  color: var(--color-light1);
  @include state(
    'hover',
    var(--color-dark3),
    0px,
    none,
    0px,
    var(--color-light1)
  );
  @include state('active', var(--color-dark2));
  @include state(
    'focus',
    var(--color-dark2),
    0px,
    solid,
    2px,
    var(--color-dark4)
  );
  @include state(
    'disabled',
    var(--color-dark1),
    0px,
    none,
    0px,
    transparent,
    var(--color-white)
  );
  @include iconSVG('light');
}

.lined {
  outline: 1px solid var(--color-dark4);
  @include state(
    'hover',
    var(--color-light1),
    0px,
    solid,
    1px,
    var(--color-dark4)
  );
  @include state(
    'active',
    var(--color-light2),
    0px,
    solid,
    1px,
    var(--color-dark4)
  );
  @include state(
    'focus',
    var(--color-light2),
    0px,
    solid,
    2px,
    var(--color-dark4)
  );
  @include state(
    'disabled',
    var(--color-dark1),
    0px,
    solid,
    1px,
    var(--color-dark2),
    var(--color-light1)
  );
  @include iconSVG();
}

.text {
  width: fit-content;
  padding: 0 4px;
  @include state('hover', var(--color-light1), 3px);
  @include state('active', var(--color-light2), 3px);
  @include state('focus', transparent, 3px, solid, 1px, var(--color-dark3));
  @include state(
    'disabled',
    transparent,
    none,
    0px,
    0px,
    transparent,
    var(--color-dark1)
  );
  @include iconSVG();
}

.link,
.lightLink {
  width: fit-content;
  padding: 0 4px;
  text-decoration: underline;
}

.link {
  color: var(--color-dark4);
  @include state(
    'hover',
    transparent,
    0px,
    none,
    0px,
    transparent,
    var(--color-sapphire)
  );
  @include state(
    'active',
    transparent,
    0px,
    none,
    0px,
    transparent,
    var(--color-honololu-blue)
  );
  @include state(
    'focus',
    transparent,
    3px,
    solid,
    1px,
    var(--color-honololu-blue)
  );
  @include state(
    'disabled',
    transparent,
    none,
    0px,
    0px,
    transparent,
    var(--color-dark1)
  );
  @include iconSVG();
}

.lightLink {
  color: var(--color-light1);
  @include state(
    'hover',
    transparent,
    0px,
    none,
    0px,
    transparent,
    var(--color-aero)
  );
  @include state(
    'active',
    transparent,
    0px,
    none,
    0px,
    transparent,
    var(--color-vivid-sky-blue)
  );
  @include state(
    'focus',
    transparent,
    3px,
    solid,
    1px,
    var(--color-vivid-sky-blue)
  );
  @include state(
    'disabled',
    transparent,
    none,
    0px,
    0px,
    transparent,
    var(--color-dark3)
  );
  @include iconSVG('light');
}

.small {
  padding: 4px;
}

.iconButton {
  width: fit-content;
  @include iconSVG();
  @include state(
    'hover',
    var(--color-light1),
    3px,
    solid,
    0px,
    var(--color-light1)
  );
  @include state('active', var(--color-light2), 3px, solid);
  @include state('focus', transparent, 3px, solid, 1px, var(--color-dark3));
  @include state(
    'disabled',
    transparent,
    0px,
    none,
    0px,
    transparent,
    var(--color-dark2)
  );
}

.iconButtonLight {
  @include iconSVG('light');
  @include state(
    'hover',
    var(--color-dark3),
    3px,
    solid,
    0px,
    var(--color-light1)
  );
  @include state('active', var(--color-dark2), 3px, solid);
  @include state('focus', transparent, 3px, solid, 1px, var(--color-light1));
  @include state(
    'disabled',
    transparent,
    0px,
    none,
    0px,
    transparent,
    var(--color-dark1)
  );
}
