@use '../../styles/global' as global;

.heroSection {
  margin: 0 0 56px 0;

  & .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
  }

  & .heroText {
    max-width: 54ch;
    text-align: center;
  }

  & .bold {
    font-weight: 600;
  }

  & button {
    margin-top: 24px;
  }

  & .heroImages {
    display: flex;
    justify-content: center;
  }

  & img {
    max-height: 376px;
    width: 100%;
  }

  & .typingAnimation {
    display: block;
  }

  @media screen and (min-width: global.$tablet) {
    margin: 16px 0 56px 0;
    & .typingAnimation {
      display: inline-block;
    }

    & .wrapper {
      width: fit-content;
      margin: auto;
    }

    & .heroImages {
      display: flex;
      justify-content: space-between;
      height: fit-content;
      margin-top: -12vw;
    }
  }

  @media screen and (min-width: global.$desktop) {
    margin: 32px 0 120px 0;

    & .heroImages {
      margin-top: -20vw;
    }

    & img {
      max-height: 556px;
      width: 100%;
    }
  }
}

.underlay {
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  width: 100%;
}

.infoSection {
  color: var(--color-white);
  width: 100%;
  max-width: global.$maxScreenWidth;
  @include global.padding;
  padding-top: 48px;
  padding-bottom: 48px;

  ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }

  li {
    max-width: 520px;
  }

  & .liHeading {
    width: fit-content;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 11fr;
    gap: 8px;
    justify-items: center;

    @media screen and (min-width: 386px) {
      display: flex;
      gap: 16px;
      width: 100%;
      justify-content: center;
    }
  }

  & .counter {
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-white);
    border-radius: 50px;
    display: inline-block;
    text-align: center;
  }

  & .description {
    padding-top: 16px;
    text-align: center;
  }

  @media screen and (min-width: global.$desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    @include global.padding;

    ol {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: flex-start;
    }

    li:nth-child(even) {
      justify-self: flex-end;
    }

    & .counter {
      width: 72px;
      height: 72px;
    }
  }
}

.benefitsSection {
  & ul {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 80px 0;
    text-align: center;
    word-break: break-word;
  }

  & .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    & .imgWrapper {
      max-height: 480px;
      display: flex;
      justify-content: center;
      align-self: center;
      width: fit-content;

      &.benefit1 {
        background: radial-gradient(
          54.54% 48.32% at 38.87% 51.46%,
          var(--color-fairy-tale) 15%,
          var(--color-white) 75%
        );
      }

      &.benefit2 {
        background: radial-gradient(
          74.91% 49.9% at 50% 53.54%,
          var(--color-cream) 6.77%,
          var(--color-white) 70%
        );
      }

      &.benefit3 {
        background: radial-gradient(
          56.58% 50.44% at 52.86% 53.02%,
          var(--color-mauve) 26.56%,
          var(--color-white) 80%
        );
      }

      &.benefit4 {
        background: radial-gradient(
          56.45% 53.47% at 35.14% 45.94%,
          var(--color-uranian-blue) 4.17%,
          var(--color-white) 66.21%
        );
      }
    }

    & .text {
      max-width: 500px;
    }
  }

  @media screen and (min-width: global.$desktop) {
    margin: 120px 0;

    & li:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    & .card {
      flex-direction: row;
      height: 480px;

      & .imgWrapper {
        flex-basis: 50%;
      }

      & .text {
        max-width: 630px;
        flex-basis: 50%;
      }
    }
  }
}
