$tablet: 768px;
$desktop: 1200px;

$maxScreenWidth: 1440px;

$mobilePadding: 20px;
$desktopPadding: 80px;

$mobileHeaderHeight: 49px;
$desktopHeaderHeight: 88px;

@mixin headerHeight {
  height: $mobileHeaderHeight;
  @media screen and (min-width: $tablet) {
    height: $desktopHeaderHeight;
  }
}

@mixin padding {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  @media screen and (min-width: $tablet) {
    padding-left: $desktopPadding;
    padding-right: $desktopPadding;
  }
}

@mixin annotationColor {
  & .color {
    width: 32px;
    height: 24px;
    border-radius: 3px;

    &.picked {
      outline: 1px solid var(--color-black);
    }

    &.green {
      background-color: var(--color-tea-green);
    }
    &.blue {
      background-color: var(--color-uranian-blue);
    }
    &.yellow {
      background-color: var(--color-cream);
    }
    &.pink {
      background-color: var(--color-fairy-tale);
    }
    &.purple {
      background-color: var(--color-mauve);
    }
  }
}

@mixin clickedIconButton(
  $color: var(--color-light1),
  $fillColor: var(--color-light1),
  $circleColor: var(--color-black)
) {
  & .bookmarkClicked,
  & .annotationClicked {
    & svg {
      fill: $fillColor;
      color: $color;
    }
  }

  & .viewClicked {
    & svg {
      fill: $fillColor;

      & circle {
        fill: $circleColor;
      }
    }
  }
}

@mixin mobilePanel {
  @include clickedIconButton(
    var(--color-light1),
    var(--color-light1),
    var(--color-black)
  );

  height: 48px;
  padding: 2px 0;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 100;
  background-color: var(--color-black);
  font-size: 0.6rem;
  color: var(--color-light1);
  font-weight: 300;
  display: flex;
  justify-content: center;
  gap: 40px;

  @media screen and (min-width: 470px) {
    gap: 56px;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: $mobileHeaderHeight;
  @media screen and (min-width: $desktop) {
    scroll-padding-top: $desktopHeaderHeight;
  }
}
