$tablet: 768px;
$desktop: 1200px;

$maxScreenWidth: 1440px;

$mobilePadding: 20px;
$desktopPadding: 80px;

$mobileHeaderHeight: 49px;
$desktopHeaderHeight: 88px;

@mixin headerHeight {
  height: $mobileHeaderHeight;
  @media screen and (min-width: $tablet) {
    height: $desktopHeaderHeight;
  }
}

@mixin padding {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  @media screen and (min-width: $tablet) {
    padding-left: $desktopPadding;
    padding-right: $desktopPadding;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: $mobileHeaderHeight;
  @media screen and (min-width: $desktop) {
    scroll-padding-top: $desktopHeaderHeight;
  }
}
