:root {
    --color-dark4: #292929;
    --color-dark3: #616161;
    --color-dark2: #919191;
    --color-dark1: #C2C2C2;
    --color-white: #FFFFFF;
    --color-light1: #F5F5F5;
    --color-light2: #ECECEC;
    --color-light3: #E4E4E4;
}